.container {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 1280px;
 }

 html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
 }
 body {
    margin: 0;
    background-color: #ccaf9b;
 }
 *, *::before, *::after {
    box-sizing: border-box;
 }

 .active {
     color: red;
 }

h1 {
    color: #873c1e;
    text-align: center;
    font-size: 30px;
}

h2 {
   font-size: 25px;
   color: black;
   text-align: center;
}

h3 {
    font-size: 20px;
    text-align: center;
    color: black;
}

p {
    font-size: 16px;
    text-align: center;
    color: black;
}

.info {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
 }
 
 .info img {
    width: fit-content;
    height: 240px;
 }

 .button {
    font-size: 13px;
    line-height: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 14px 30px;
    background-color: #312921;
    color: #ccaf9b;
    text-transform: uppercase;
    -webkit-appearance: none;
    border-radius: 0;
    border: 1px solid #312921;
    outline: 0;
    cursor: pointer;
    text-decoration: none;
 }